<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Java</h4>
                    <div class="line-dec"></div>
                    <p>My first skill as a web developer is Java, the most basic of all programming languages.Java is a high-level programming language developed by Sun Microsystems. ... The Java syntax is similar to C++, but is strictly an object-oriented programming language. For example, most Java programs contain classes, which are used to define objects, and methods, which are assigned to individual classes</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>HTML</h4>
                    <div class="line-dec"></div>
                    <p>Second is HTML which is the transition part of Java to Web Development. The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>CSS</h4>
                    <div class="line-dec"></div>
                    <p>Without CSS, HTML is plain as paper. Cascading Style Sheets (CSS) is used to format the layout of a webpage.

                        With CSS, you can control the color, font, the size of text, the spacing between elements, how elements are positioned and laid out, what background images or background colors are to be used, different displays for different devices and screen sizes, and much more!</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>ANGULAR</h4>
                    <div class="line-dec"></div>
                    <p>I also like working using Angular. Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
