<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Websites promote you 24/7: No employee will do that. ”</p>
                            <h4>Paul Cookson</h4>
                            <span>Web Designer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ If you're already a front-end developer, well, pretend you're also wearing a pirate hat.”</p>
                            <h4>Ethan Marcotte  </h4>
                            <span>Responsive Web Design</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ A successful website does three things:
                                It attracts the right kinds of visitors.
                                Guides them to the main services or product you offer.
                                Collect Contact details for future ongoing relation. ”</p>
                            <h4>Mohamed Saad</h4>
                            <span>Web Developer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“Let us take you into a deeper experience, make a moment a lasting conveyable memory. Let us help build your tribe.”</p>
                            <h4>Richard Beal</h4>
                            <span>CSS Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>